#photoBox {
    position: relative;
}
#laptops {
    width: 500px;
    height: 350px;
}
#man {
    width: 500px;
    height: 300px;
}
#sunset {
    width: 500px;
    height: 350px;
}
#office {
    width: 500px;
    height: 350px;
}